@import "../variables.scss";
@import "../mixins.scss";

.history-panel {
  display: flex;
  background-color: $primary;

  &__wrapper {
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 100%;
    left: 0;
    z-index: 10;
    top: 49px;
    transition: 300ms ease-in-out all;
    background: white;

    &--active {
      height: calc(100vh - 50px);
      transition: 300ms ease-in-out all;
      overflow: scroll;
      border-bottom: 1px solid $primary;
    }
  }
  &__container {
    padding: 12px;
    min-height: 100%;
    width: 100%;
    border-top: 0;
    padding-bottom: 20px;

    h1 {
      margin-top: 12px;
      font-size: 24px;
      font-weight: 800;
    }
  }
  &__toggle {
    background-color: $primary;
    border: 0;
    margin-left: auto;
    outline: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 31px;
      height: 26px;
    }
    &--active {
      background-color: white;
    }
  }
  &__entry {
    padding: 12px 0;
    // border-bottom: 1px solid $primary;
    &-data {
      display: flex;
      flex-wrap: wrap;
      padding: 0 12px;
    }
    &-player {
      margin-right: 20px;

      .score-difference {
        display: inline-block;
        margin-left: 6px;
        margin-top: 10px;

        &.negative {
          color: red;
        }
        &.positive {
          color: green;
        }
        &.neutral {
          color: blue;
        }
      }
    }
    &-round {
      font-size: 18px;
      font-weight: 600;
      display: block;
      background: $primary;
      color: white;
      padding: 6px 12px;
      margin: 0;
      // font-weight: bold;
    }
  }
}
