@import "../variables.scss";
@import "../mixins.scss";

.players {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  &__round {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    // border-bottom: 1px solid $primary;
    box-shadow: 0px -3px 10px 1px #4b4ba7;
    font-size: 22px;
    &-text {
      margin-right: 8px;
    }
    .round-number {
      display: inline-block;
      margin-left: 8px;
      transition: 300ms ease-in-out all;
    }
    .animate {
      .round-number {
        transform: scale(1.6);
        transition: 400ms ease-in-out all;
      }
    }

    button {
      @include btn();
      font-size: 20px;
    }
  }
  &__single {
    padding: 12px 24px 12px 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    min-height: 110px;
    &-data {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .player-name {
        font-size: 24px;
        margin-bottom: 6px;
      }
      .player-score {
        font-size: 18px;
      }
    }
    &-interaction {
      display: flex;
      align-items: center;
    }
    &-btn {
      display: block;
      height: 60px;
      width: 60px;
      position: relative;
      margin-left: 6px;
      border: 0;
      border-radius: 3px;
      cursor: pointer;

      &:after {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 38px;

        line-height: 0;
      }

      &--increment {
        background-color: $primary;
        &:after {
          content: "+";
        }
      }
      &--decrement {
        background-color: white;
        border: 1px solid $primary;
        &:after {
          color: $primary;
          content: "-";
        }
      }
    }
  }
  &__new {
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 200;

    &-wrapper {
      display: flex;
      align-items: center;
      margin-top: 12px;

      label {
        display: block;
        flex-grow: 1;
        input {
          width: 100%;
          padding: 8px 10px;
          font-size: 16px;
          border: 1px solid lightgrey;
          border-radius: 5px;
        }
      }
      button {
        @include btn();
        padding: 10px 20px;
        margin-left: 12px;
      }
    }
  }
}
