@import "../variables.scss";
@import "../mixins.scss";

.players {
  display: flex;
  flex-direction: column;
  &__round {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid $primary;

    button {
      @include btn();
    }
  }
  &__single {
    padding: 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $primary;
    &-data {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .player-name {
        font-size: 24px;
        margin-bottom: 6px;
      }
      .player-score {
        font-size: 18px;
      }
    }
    &-interaction {
      display: flex;
      align-items: center;
    }
    &-btn {
      display: block;
      height: 40px;
      width: 40px;
      position: relative;
      margin-left: 6px;
      border: 0;
      border-radius: 3px;

      &:after {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 28px;

        line-height: 0;
      }

      &--increment {
        background-color: $primary;
        &:after {
          content: "+";
        }
      }
      &--decrement {
        background-color: white;
        border: 1px solid $primary;
        &:after {
          color: $primary;
          content: "-";
        }
      }
    }
  }
  &__new {
    padding: 20px 12px;
    display: flex;
    flex-direction: column;

    &-wrapper {
      display: flex;
      align-items: center;
      margin-top: 12px;

      label {
        display: block;
        flex-grow: 1;
        input {
          width: 100%;
          padding: 8px 10px;
          font-size: 16px;
          border: 1px solid lightgrey;
          border-radius: 5px;
        }
      }
      button {
        @include btn();
        padding: 10px 20px;
        margin-left: 12px;
      }
    }
  }
}
