@import "./variables.scss";

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  user-select: none;
  -webkit-touch-callout: none;
}

html {
  touch-action: manipulation;
}

.app {
  max-width: 1000px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  &__header {
    min-height: 50px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $primary;

    &-name {
      color: white;
      margin-right: auto;
      margin-left: 16px;
      font-size: 20px;
      font-weight: 300;
      display: flex;
      align-items: center;
    }
  }

  &__home,
  &__offline {
    display: flex;
    align-items: center;
    svg {
      width: 30px;
      margin-right: 12px;
    }
  }
  &__offline {
    svg {
      width: 26px;
    }
  }
}
